
body{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
header{
  width: 100%;
  background-color: #4796e3;
  color: #fff;
}
hr{
 /* Убираем границу */
  background-color: #4796e3; /* Цвет линии */
  height: 2%; /* Толщина линии */
  width: 70%;
}

.header-info{
  margin: 30% 2% 33% ;
}
.header-title{
  font-size: 160%;
  font-weight: bold;
  margin-bottom: 5%;
  margin-right: 7%;
  display: flex;
  justify-content: flex-end;
}
.header-text{
  font-size: 122%;
  margin-bottom: 6%;
}
button{
  padding: 2%;
  border-radius: 8%;
  border-width: thin;
  width: 30%;
}
.button-2{
  background-color: Transparent;
  color: #fff;
}
.button-1{
  margin-left: 30%;
  color: #4796e3;
}
.structure{
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info{
  color: #828282;
}
.main-text{
  margin: 6%;
}
.main-title{
  font-size: 140%;
}
.description{
  margin-top: 5%;
  width: 150%;
}
.part-one{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-left: -15%;
}
.reverse{
  flex-direction: row-reverse;
}
.img-table{
  margin-left: 50%;
}
.footer{
  background-color: #f7f7f7;
  padding: 7%;
}
.icons{
margin-bottom: 3%;
width: 20%;
margin-left: 5%;
}
.logo-twitter{
margin: 0 10%;
}
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 764px) {
  .structure{
    flex-direction: column-reverse;
    padding-top: 15%;
    width: 50%;
  }
.header-info{
  margin-top: 12%;
}
.header-title{
  display: flex;
  justify-content: center;
}
.header-buttons{
  margin-left: -20%;

}
.info{
  width: 70%
}
.part-one{
  margin-top: -10%;
}
.img-table{
margin-left: 40%;
}
.footer{
  width: 90%;
}

}

@media screen and (max-width: 436px) {
  .header-info{
    width: 170%;
    margin-left: 15%;
  }
.button-1{
width: 90%;
margin-left: 10%;
}
.button-2{
  width: 90%;
  margin-left: 10%;
  margin-top: 5%;
}
.part-one{
  flex-direction: column;
  margin-right: 15%;
}
.main-title{
margin-left: 20%;
}
.img-mobale{
margin-left: 20%;
}
.icons{
  display: flex;
  justify-content: center;
  margin: 7% 0;
}
.img-table{
  margin-left: 3%;
}
.main-title{
  width: 100%;
}

}
