body{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
button{
  height: 40px;;
  width: 90px;
  background-color: #FFDAB9;
  border-radius: 5px;
  border-color: #000;
}
.container{
  height: 500px;
  width: 100%;
  background-color: #BC8F8F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons{
  display: flex;
  margin: 35px;
}
.button-reset{
  margin: 0 20px;
}
