.button {
  width: 150px;
  height: auto;
  border: 3px solid #424040;
  border-radius: 5px;
  margin: 10px;
  font-family: 'Mrs Sheppards', cursive;
  font-size: 25px;
  outline: none;
}
.plus {
  background-color: #69f06e;
}
.minus {
  background-color: #f75252;
}
.reset {
  background-color: #9c9a9a;
}
.button:hover {
  cursor: pointer;
}
.plus:active {
  background-color: #44ff1f;
  border-color: black;
}
.minus:active {
  background-color: #fa1111;
  border-color: black;
}
.reset:active {
  background-color: #757575;
  border-color: black;
}
.value {
  font-family: 'Mrs Sheppards';
  font-size: 50px;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  border: 3px solid #424040;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
